#bot-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.bot-loading-image-container {
  height: 500px;
  width: 500px;
}

.bot-loading-progress-bar {
  position: relative;
  height: 20px;
  width: 100%;
  background-color: #f3f3f3;
}

#bot-loading-progress-bar-fill {
  background-color: rgb(90, 120, 135);
  height: 100%;
  width: 0%;
  transition: width 1s ease-in-out;
}